TYPER_APP_NAME="fyers-cli"

# Your FYERS API App ID (e.g. XXXX-100)
FYERS_APP_ID="YOUR_APP_ID"

# Your FYERS API Secret Key (e.g. YYYYZZZZ)
FYERS_SECRET_KEY="YOUR_SECRET_KEY"

# Your FYERS Redirect URL used in your App (e.g. https://127.0.0.1:8080/login)
FYERS_REDIRECT_URL="https://127.0.0.1:8080/login"
